* {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    /*border: 2px solid red;*/
}

li {
    color: blueviolet;
    font-size: 24px;
}

h1 {
    color: slateblue;
}


p {
    font-size: 20px;
}

.one {
    padding: 32px;
    margin: 12px;
    background-color: salmon;
    border-color: purple;
}

.two {
    background-color: lightblue;
    border-color: red;
}

.three {
    margin-left: 500px;
    margin-top: 50px;
    padding: 32px;
    background-color: peachpuff;
    border-color: tomato;
}

.title {
    font-weight: 700;
    background-color: lightblue;
}

.content {
    font-size: 24px;
    background-color: lightblue;
}

.button-container {
    text-align: center;
    background-color: lightblue;
    font-size: 24px;
    white-space: pre;
    justify-content: center;
}

.button-container button {
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
    border: none;
    font-size: 24px;
}