* {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    /*border: 2px solid red;*/
}

li {
    color: blueviolet;
    font-size: 24px;
}

h1 {
    color: slateblue;
}


p {
    font-size: 20px;
}

.one {
    padding: 32px;
    margin: 12px;
    background-color: salmon;
    border-color: purple;
}

.two {
    background-color: lightblue;
    border-color: red;
}

.three {
    margin-left: 500px;
    padding: 32px;
    background-color: peachpuff;
    border-color: tomato;
}